# TOPSIS implemented with `numpy` & `pandas` library

Imports

In [4]:
# Imports
import topsis
import numpy as np
import pandas as pd

Data to be Evaluated

In [5]:
data = pd.DataFrame([
    [89, 2],
    [60, 0],
    [74, 1],
    [99, 3]
])

data

    0  1
0  89  2
1  60  0
2  74  1
3  99  3

Evaluation

In [6]:
topsis.evaluate(
    data=data,
    targets=["max", "min"],
    weights=[1, 1]
)

array([0.1857001 , 0.38337054, 0.31701594, 0.11391343])